
  <div style="position: fixed; width: 100%; top:0;z-index:1;">
  <md-toolbar color="primary">
  

    <span>CRM</span>

    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>
  </div>
<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav">
    Jolly good!
  </md-sidenav>

  <div class="example-sidenav-content">
    <button type="button" md-button (click)="sidenav.open()">
      Open sidenav
    </button>
  </div>

</md-sidenav-container>

  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>My Profile</button>
    <button md-menu-item (click)="logout()">Logout</button>
  </md-menu>




<div class="app-content">
  <div class="group">
    <form>
      <span class="app-action">
        <button md-fab ><md-icon>exit_to_app</md-icon></button>
      </span><br><br>
      <md-card>
        <md-tab-group >
          <md-tab  *ngFor="let sd of data">
            <ul>
              <i >
                <template md-tab-label>
                  {{sd.from.name}}
                </template>
                <small>Message :</small> <p>{{sd.message}}</p>
              </i>
            </ul>
          </md-tab>
        </md-tab-group>
      </md-card>
    </form>
  </div>
</div>
